
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Playfair+Display:ital,wght@1,500&display=swap');


* {
  font-family: 'Open Sans', sans-serif;

  font-family: 'Playfair Display', serif;
}

body {
  font-size: 160%;
}

.wrapper {overflow: auto;}

#main {margin-left: 2%;}

#leftsidebar {
  float: none;
  width: auto;
  margin-top: 8%;
}

#menulist {
  margin: 1%;
  padding: 1%;
  list-style-type: none;
}

.menuitem {
  background: #CDF0F6;
  list-style-type: none;
  margin: 2%;
  padding: 1%;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 15%; float: right;}
  #main {margin-left: 12%;}
  #projects {margin-left: 12%;}
}

.socail-img {
  width: 120px;
  position: absolute;
  background: white;
  animation-name: at-first;
  animation-duration: 3s;
}

.socail-img:hover {
  opacity: 0;
}

.socail-gif {
  width: 110px;
  animation-name: at-first-gif;
  animation-duration: 3s;
}

#contact {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(126, 200, 243);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
textarea {
  background-image: url("../images/developer.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.container {
  border-radius: 1%;
  background-color: #d6f1f1;
  padding: 2% 2% 2%;
  width: 50%;
  margin-right: 12%;
  margin-left: 20%;
  margin-top: 8%;
  margin-bottom: 8%;
}

#message-link {
  position: absolute;
  margin-right: 2% ;
  right: 8%;
  bottom: 12%;
}

#button-message {
  position: fixed;
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1% 1%;
  cursor: pointer;
}

#button-message {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

#button-message:hover {
  background-color: #008CBA;
  color: white;
}

#cancel-input ,#submit-input {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  padding: 12px 25px;
}

#cancel-input:hover , #submit-input:hover {
  background-color: #008CBA;
  color: white;
}

/* #message-link:active  ~ #contact { display: block; } */


@keyframes at-first {
  from {width: 130px;}
  to {width: 120px;}
}

@keyframes at-first-gif {
  from {display: none;}
  to {display: block;}
}