span {
    color: lightsteelblue;background-color: cadetblue; font-size: 200%;
}
div p {
    color: red; margin: 2cm;
}

div > p {
    color: yellow; margin: 2cm;
}

div a {
    color: #000;
}

a {
    color: #962;
}

div:hover{
    display: grid;
}

a:hover{
    color: rgb(17, 170, 86);
    font-size: 250%;
}

#exp{
    font-style: italic;
}

.hh{
    text-align: center;
}

.hh:nth-child(2n+1){
    text-align: left;
    color: hotpink;
}